.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .container{
    max-width: 600px;
    margin: 3rem auto
  }

  .row{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .link{
    display: block;
    background: #ff1a1a;
    padding: 25px;
    border-radius: 25px;
  }
  .link:hover{
    background:#cc0000;
  }

  .black{
    display: block;
    background: #444;
    padding: 10px;
    margin-top: 15px;
    border-radius: 25px;
    width: 60%;
    text-align: center;
  }

  .black:hover{
    background: black;
  }

  .blue{
    display: block;
    background: #4d4dff;
    padding: 25px;
    border-radius: 25px;
  }
  .blue:hover{
    background:#0000ff;
  }

  .link a, .blue a, .bluecourse a, .black a{
    color: white;
    text-decoration: none;
  }

  .bluecourse{
    display: block;
    background: #4d4dff;
    padding: 5px;
    border-radius: 25px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  .bluecourse:hover{
    background:#0000ff;
  }